*.json
*.js
!/scripts/**/*.js
node_modules/**
.github
.gitignore
.husky
.vscode
./config
coverage
dist
documentation
test-report
.eslintrc
*.yml
*.graphql
README.md
**/__generated__/**
swagger.ts
**/__tests__/**
**/tests/**
client
build